doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='meta desc')
    meta(name='viewport', content='width=device-width')
    title mtth.io
    link(rel='stylesheet', type='text/css', href='/public/css/main.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato')
  body
    section#content
      .info
        h1 Hello
        p.
          This is my website. There are many like it, but this one is mine.
      .link
        a(href='https://github.com/mtth/.dotfiles')
          img(src='/public/img/screenshot.png')
    section#footer
      .about
        a(href='mailto:hello@mtth.io') Contact
    script(src='/public/js/index.js')
