*
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

body
  margin 0
  font-family Lato
  font-size 25px
  color #111
  background rgba(238, 238, 238, 1)

a
  color steelblue
  text-decoration none

  &:hover
    color #111

section#content
  margin 0 auto
  position relative
  width 850px
  overflow hidden

  .info
    display none

    h1
      font-size 2em
      text-align center

    p
      padding 0 300px
      color #ccc
      text-align center

  .link
    margin 0 auto
    position absolute
    bottom -1000px
    width 850px
    -webkit-transition: margin 0.5s ease-in-out
    -moz-transition: margin 0.5s ease-in-out
    -o-transition: margin 0.5s ease-in-out
    transition: margin 0.5s ease-in-out

    &:hover
      margin 175px auto

    img
      width 100%

section#footer
  position fixed
  right 0
  bottom 0

  .about
    text-align right
    font-size 0.5em

    a
      padding 5px 10px
      display inline-block
      background-color #fff
